/* Import styles */
@import-normalize;
@import './Styles/colors.css';

/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;900&display=swap');

/* Global */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg);
    color: var(--main);
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 50rem;
    padding: 1rem;
}

/* General Font/Text Styling */
h1,
h2 {
    color: var(--title);
}

h2 {
    font-size: 1.35rem;
}

a {
    color: var(--href);
    text-decoration: none;
}

a:hover {
    color: var(--hover);
}

.sm-text {
    font-size: .9rem;
}

.underline:hover {
    text-decoration: underline;
}

/* General Image Styling */
img {
    width: 100%;
}

.ext-link-svg {
    height: .6rem;
    width: auto;
}

.ext-link-svg line {
    stroke: var(--main);
    stroke-width: 1rem;
}

/* Section Divider */
.section-break {
    border-bottom: 1px solid var(--accent);
    margin: 1.5rem 0;
}